.npy filter=lfs diff=lfs merge=lfs -text
.mseed filter=lfs diff=lfs merge=lfs -text
.h5 filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
Reproduce_figures_in_the_manuscript/disturbance_data_for_random_sample_usage.npy filter=lfs diff=lfs merge=lfs -text
Reproduce_figures_in_the_manuscript/19711020.MHZ.npy filter=lfs diff=lfs merge=lfs -text
Reproduce_figures_in_the_manuscript/19720214.MH1.npy filter=lfs diff=lfs merge=lfs -text
Reproduce_figures_in_the_manuscript/19720417.MH2.npy filter=lfs diff=lfs merge=lfs -text
Reproduce_figures_in_the_manuscript/EV_13_S4B_IMP.npy filter=lfs diff=lfs merge=lfs -text
Reproduce_figures_in_the_manuscript/EV_15_S4B_IMP.npy filter=lfs diff=lfs merge=lfs -text
Reproduce_figures_in_the_manuscript/EV_16_S4B_IMP.npy filter=lfs diff=lfs merge=lfs -text
Reproduce_figures_in_the_manuscript/19720116.MH1.npy filter=lfs diff=lfs merge=lfs -text
Reproduce_figures_in_the_manuscript/EV_14_S4B_IMP.npy filter=lfs diff=lfs merge=lfs -text
Reproduce_figures_in_the_manuscript/EV_17_S4B_IMP.npy filter=lfs diff=lfs merge=lfs -text
Reproduce_figures_in_the_manuscript/XA.S14.00.MH1__19730320T000000Z__19730321T000000Z.mseed.mseed filter=lfs diff=lfs merge=lfs -text
Reproduce_figures_in_the_manuscript/XA.S16.01.MHZ__19770102T000000Z__19770103T000000Z.mseed.mseed filter=lfs diff=lfs merge=lfs -text
Reproduce_figures_in_the_manuscript/XA.S16.01.MHZ__19770115T000000Z__19770116T000000Z.mseed.mseed filter=lfs diff=lfs merge=lfs -text
AutoProcessWorkflow/disturbance_detection_used_in_paper.h5 filter=lfs diff=lfs merge=lfs -text
